<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.tta.siconsignosapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_page"
            android:label="@string/title_activity_login_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inicio"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Estudio"
            android:label="@string/title_activity_estudio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conectividad"
            android:label="@string/title_activity_conectividad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ABC"
            android:label="@string/title_activity_abc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversamos"
            android:label="@string/title_activity_conversamos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pregunta"
            android:label="@string/title_activity_pregunta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".PantallaResultados"
            android:label="@string/title_activity_pantalla_resultados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sugerencia"
            android:label="@string/title_activity_sugerencia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recuperaContra"
            android:label="@string/title_activity_recupera_contra"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".buscaLlama"
            android:exported="false" />

        <activity
            android:name=".llamando"
            android:label="@string/title_activity_llamando"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
